<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        Doggo classifier
      </h1>
      <uploader @success="handlePrediction"/>
      <gauge-list :predictions="predictions"/>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo'
import Uploader from '~/components/Uploader'
import GaugeList from '~/components/GaugeList'

export default {
  components: {
    Logo,
    Uploader,
    GaugeList
  },
  data() {
    return {
      predictions: []
    }
  },
  methods: {
    handlePrediction(predictions) {
      this.predictions = predictions;
    }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
