<template>
  <div>
    <gauge
      v-for="item in orderedPredictions"
      :key="item.label"
      :label="item.label"
      :score="item.score"
    />
  </div>
</template>

<script>
import Gauge from './Gauge'
export default {
  components: {
    Gauge,
  },
  props: {
    predictions: {
      type: Array,
    },
  },
  computed: {
    orderedPredictions () {
      return this.predictions.sort((a, b) => a.score < b.score)
    }
  },
}
</script>

<style>
</style>