<template>
  <div class="gauge-container">
    <span>{{ label }}</span>
    <div :style="style" class="gauge">{{ score }}</div>
  </div>
</template>

<script>
export default {
  props: {
    score: {
      type: Number,
    },
    label: {
      type: String
    }
  },
  computed: {
    style () {
      var col1 = "rgb(" + 255 * (1 - this.score) + "," + 255 * this.score + ",0)";
      var col2 = "rgb(255, 255, 255)";
      return { "background": "linear-gradient(to right," + col1 + " " + this.score * 100 + "%, " + col2 + " " + this.score + "%)" }
    }
  },
}
</script>

<style>
.gauge {
  border: 1px solid gray;
  width: 300px;
}
.gauge-container {
  display: flex;
  justify-content: space-between;
}
</style>